<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="welcome_container">
        <div class="blogs_container">
        <h2>Welcome to NodeBlogs!!</h2>
    </div>
    <div class="link_container">
        <button><a href="/app/v1/admin/signup">ADMIN</a></button>
        <button><a href="/app/v1/author/signup">AUTHOR</a></button>
        <button><a href="/app/v1/users/signup">USER</a></button>
    </div>
    </div>
</body>
</html>